<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <style>
    body {
      font-family: Fondamento;
      margin: 0;
      padding: 0;
    }

    .sidebar {
      width: 250px;
      height: 100%;
      background-color: #ffffff;
      color: #333;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 20px;
      border-right: 5px solid #000000;
    }

    .main-content {
      margin-left: 250px;
      padding: 20px;
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
      text-align: left;
      margin-top: 20px;
    }

    .sidebar ul li {
      padding: 10px 0;
    }

    .sidebar ul li a {
      display: flex;
      align-items: center;
      padding: 10px;
      color: #000000;
      font-weight: bold;
      text-decoration: none;
    }

    .sidebar ul li a:hover {
      background-color: #D9D9D9;
    }

    .sidebar ul li a span {
      margin-right: 10px;

    }

    .card {
      background-color: #fff;
      color: #000000;
      padding: 3px 8px;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  <div class="sidebar">
    <h4 style="text-align: center; text-decoration: underline; text-underline-offset: 0.25em; font-family: Fondamento;">
      A L A M S</h4>


    <ul>
      <li><a href="{% url 'a:dashboard' %}"><span class="bi bi-bar-chart"></span> Dashboard</a></li>
      <li><a href="{% url 'a:productmanagement' %}"><span class="bi bi-box"></span> Products</a></li>
      <li><a href="{% url 'a:adminuser' %}"><span class="bi bi-person"></span> Users</a></li>
      <li><a href="{% url 'a:adminorder' %}"><span class="bi bi-cart"></span> Orders</a></li>
      <li><a href="{% url 'a:categorymanagement' %}"><span class="bi bi-folder"></span> Category</a></li>
      <li><a href="{% url 'a:admincoupon' %}"><span class="bi bi-ticket"></span> Coupons</a></li>
      <li><a href="{% url 'a:salesreport' %}"><span class="bi bi-graph-up"></span> Sales Report</a></li>
      <li><a href="{% url 'r:logout' %}"><span class="bi bi-box-arrow-right"></span> Logout</a></li>
    </ul>
  </div>

  <div class="main-content">

    <h4 style="text-align: center;">Admin Dashboard [A L A M S] </h4>


    <div style="display: flex;">
      <div class="card" style="margin-right: 60px;">
        <h4 style="margin-top: 4px;">Overall Sales Count</h3>
          <p>{{ overall_sales_count }}</p>
      </div>

      <div class="card" style="margin-right: 60px;">
        <h4 style="margin-top: 4px;">Overall Order amount</h4>
        <p> ₹ {{ overall_order_amount }}</p>
      </div>

      <div class="card">
        <h4 style="margin-top: 4px;">Overall Discount</h4>
        <p>{{ overall_discount_count }}</p>
      </div>

    </div>

    <h4 style="text-align: center;">Today's Order details</h4>
    <div style="width: 90%; margin: 0 auto;height: 50vh;padding-block: 30px;">
      <canvas id="orderChart"></canvas>
    </div>

    <h4 style="text-align: center;">Monthly Order details</h4>
    <div style="width: 80%; margin: 0 auto;height: 50vh;padding-block: 30px;">
      <canvas id="monthlyOrderChart"></canvas>
    </div>

    <h4 style="text-align: center;">Yearly Order details</h4>
    <div style="width: 90%; margin: 0 auto;height: 50vh;padding-block: 30px;">
      <canvas id="yearlyOrderChart"></canvas>
    </div>


    <div>
      <h4>Best of AlamS</h4>
      <p>Best Selling Product : {{ best_selling_product_name }}</p>
      <p>Best selling Category : {{best_selling_category_name}}</p>
    </div>

    <!-- <div>
      <form method="POST">
        {% csrf_token %}
        <input type="file" id="photo1" name="photo1" accept="image/*"><br>
        <input type="file" id="photo2" name="photo2" accept="image/*"><br>
        <input type="file" id="video1" name="video1" accept="video/*"><br>
        <input type="file" id="video2" name="video2" accept="video/*"><br>
        <button type="submit">submit</button>
      </form>
    </div> -->
  </div>

</body>

<script>
  var orderData = {{ monthly_order_data| safe }};
  var canceledData = {{ monthly_canceled_data| safe }};
  var products = Object.keys(orderData);
  var orderedCounts = products.map(function (product) {
    return orderData[product] || 0; // Default to 0 if no data available
  });
  var canceledCounts = products.map(function (product) {
    return canceledData[product] || 0; // Default to 0 if no data available
  });

  var ctx = document.getElementById('monthlyOrderChart').getContext('2d');
  var monthlyOrderChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: products,
      datasets: [{
        label: 'Ordered',
        data: orderedCounts,
        borderColor: 'lightgreen',
        fill: false
      }, {
        label: 'Cancelled',
        data: canceledCounts,
        borderColor: 'skyblue',
        fill: false
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Monthly Order Counts for {{ month }}/{{ year }}'
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Product'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Count'
          },
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>

<script>
  var orderData = {{ order_data| safe }};
  var products = Object.keys(orderData);
  var orderedData = [];
  var canceledData = [];

  // Iterate over each product and populate orderedData and canceledData arrays
  products.forEach(function (product) {
    orderedData.push(orderData[product].ordered);
    canceledData.push(orderData[product].canceled);
  });

  var ctx = document.getElementById('orderChart').getContext('2d');
  var orderChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: products, // Use product names as labels
      datasets: [{
        label: 'Ordered/Delivered',
        data: orderedData,
        backgroundColor: 'lightgreen',
        barPercentage: 0.2 // Adjust the width of bars
      }, {
        label: 'Cancelled/Returned',
        data: canceledData,
        backgroundColor: 'skyblue',
        barPercentage: 0.2 // Adjust the width of bars
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Today\'s Order Counts'

      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Product'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Count'
          },
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>

<script>
  var yearlyOrderData = {{ yearly_order_data| safe }};
  var yearlyCanceledData = {{ yearly_canceled_data| safe }};
  var productsYearly = Object.keys(yearlyOrderData);
  var yearlyOrderedCounts = productsYearly.map(function (product) {
    return yearlyOrderData[product] || 0; // Default to 0 if no data available
  });
  var yearlyCanceledCounts = productsYearly.map(function (product) {
    return yearlyCanceledData[product] || 0; // Default to 0 if no data available
  });

  var ctx = document.getElementById('yearlyOrderChart').getContext('2d');
  var yearlyOrderChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: productsYearly,
      datasets: [{
        label: 'Ordered',
        data: yearlyOrderedCounts,
        backgroundColor: 'lightgreen',
        barPercentage: 0.3,
        fill: false
      }, {
        label: 'Cancelled',
        data: yearlyCanceledCounts,
        backgroundColor: 'skyblue',
        barPercentage: 0.3,
        fill: false
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Yearly Order Counts for {{ year }}'
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Product'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Count'
          },
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>


</html>